#input{
  height: 26px;
  width: 250px;
  border-top: none;
  border-left: none;
  border-right: 1.5px inset dodgerblue;
  border-bottom: 1.5px inset dodgerblue;
  margin-right: 5px;
  margin-top: 10px;
  border-bottom-left-radius: 5px;
}
#input:hover{
  background: mediumseagreen;
}
#chatsect{
  background: darkslateblue;
  border-top: 2px inset gray;
  height: 60px;
  width: 100%;
opacity: 0.85;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 87%;
}
#btn{
 border: none;
 background:dodgerblue;
 color: white;
 height: 26px;
 margin-top: 10px;
}
#user{
  text-align: right;
  font-family: Monospace;
  font-size: 15px;
  color: mediumseagreen;
  margin-bottom: 20px;
  font-weight: bold;
}
#mess{
  text-align: left;
  font-family: Monospace;
  font-size: 15px;
  color: black;
  margin-bottom: 20px;
  font-weight: bold;
}
#swi{
margin: 0 auto;
height: 25px;
background: aqua;
border: none;
box-shadow: 2px 3px 3px black;
}
